/*
I'm using CSS Grid to layer three slides one on top of the other.
You could also use absolute positioning if you prefer.

I chose CSS Grid because it lets the child elements (the slides)
retain their height. If you use absolute positioning, you will
want to specify a height for the container.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: lightgrey;
}